<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>User id</th>
      <th>Seat id seq</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.user.name %></td>
        <td><%= ticket.seat_id_seq %></td>
        <td><%= ticket.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>